div(id="view-pilots" class="col-md-4")
    h3 Pilots
    div(class="list-group")
        | {{#pilots}}
        a(href="#" data-id="{{_id}}" class="list-group-item")
            i(class="xwing-miniatures-ship xwing-miniatures-ship-{{ship}}")
            strong &nbsp; {{callsign}} &nbsp;
            small played by &nbsp;
            em {{owner}}
        //- button(class="btn btn-danger btn-xs pull-right"
        //-        data-id="{{_id}}"
        //-        data-version="{{version}}") Delete
        | {{/pilots}}
        form(id="add-pilot" class="list-group-item form-inline")
            div(class="input-group")
                label(for="pilot-callsign" class="sr-only") Callsign:
                input(id="pilot-callsign"
                      name="pilot-callsign"
                      class="form-control input-sm"
                      type="text"
                      placeholder="Callsign"
                      required)
            div(class="input-group")
                label(for="pilot-owner" class="sr-only") Player:
                select(id="pilot-owner"
                       name="pilot-owner"
                       class="form-control input-sm"
                       required)
                    option(value="" disabled selected) Select Player
                    | {{#users}}
                    option(value="{{name}}") {{displayName}}
                    | {{/users}}
            div(class="input-group")
                label(for="pilot-ship" class="sr-only") Ship:
                select(id="pilot-ship"
                       name="pilot-ship"
                       class="form-control input-sm"
                       required)
                    option(value="" disabled selected) Select Ship
                    | {{#ships}}
                    option(value="{{name}}") {{displayName}}
                    | {{/ships}}
            div(class="input-group")
                button(type="submit" class="btn btn-primary btn-sm") Add Pilot
