div(id="view-pilot-details")
    h3 Pilot Details ({{pilot.callsign}})
    |{{^pilot}}
    p no pilot
    | {{/pilot}}
    table(class="table")
        tbody
            tr
                th(class="col-sm-4") Player
                td(class="col-sm-8") {{pilot.owner}}
            tr
                th Callsign
                td
                    div(id="pilot-details-callsign-toggle") {{pilot.callsign}}
                        small &nbsp;edit
                    div(id="pilot-details-callsign-edit" class="hidden")
                        form(class="form-inline" id="pilot-details-callsign-editor")
                            div(class="input-group input-group-sm")
                                input(type="text"
                                      class="form-control"
                                      id="pilot-details-callsign"
                                      name="pilot-details-callsign"
                                      value="{{pilot.callsign}}"
                                      required)
                                span(class="input-group-btn")
                                    button(type="submit"
                                           class="btn btn-success") Change
            tr
                th Ship
                td
                    div(id="pilot-details-ship-toggle") {{ship.displayName}}
                        small &nbsp;edit
                    div(id="pilot-details-ship-edit" class="hidden")
                        form(class="form-inline" id="pilot-change-ship")
                            div(class="input-group input-group-sm")
                                select(id="pilot-change-ship-name"
                                       name="pilot-change-ship-name"
                                       class="form-control"
                                       required)
                                    | {{#ships}}
                                    option(value="{{name}}") {{displayName}}
                                    | {{/ships}}
                                span(class="input-group-btn")
                                    button(type="submit"
                                           class="btn btn-success") Change
            tr
                th Pilot Skill
                td
                    div(id="pilot-details-skill-toggle") {{pilotSkill}}
                        small &nbsp;edit
                    div(id="pilot-details-skill-edit" class="hidden")
                        form(class="form-inline" id="pilot-change-skill")
                            div(class="input-group input-group-sm")
                                span(class="input-group-addon") {{pilotSkill}} +
                                input(type="number"
                                      min="0"
                                      value="1"
                                      class="form-control"
                                      id="pilot-change-skill-value"
                                      name="pilot-change-skill-value"
                                      required)
                                span(class="input-group-btn")
                                    button(type="submit"
                                           class="btn btn-success") Change

            tr
                th XP
                td {{currentXP}}
